@import url('https://cdn.jsdelivr.net/npm/computer-modern@0.1.2/fonts.css');

body {
  background-color: #fff;
  padding: 0px;
  font: 16.0px/1.5 "Computer Modern Serif", serif;
  color: #595959;
  font-weight: 400;
  margin: 0;
}